body {
    background-color: white;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /*Turns off select*/
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    /*centers items vertically*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40vh;
}

#touchField {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
}

input[type='button']:active{
    opacity: 0;
    border-radius: 0;
}

#rarity {
    position: absolute;
    top: 20px;
}

#emoji {
    text-align: center;
    font-size: 100pt;
}

#randaam {
    text-align: center;
    font-size: 30pt;
    margin: 0 10px 25pt 10px;
}

#age {
    font-size: 18pt;
}

#income {
    font-size: 18pt;
}

#livingPlace {
    font-size: 20pt;
}

#logo {
    font-family: 'Open Sans Extrabold', sans-serif;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12pt;
}
