body {
    /*TODO: set background color depending on theme from device*/
    background-color: white;
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40vh;
}

#randaam {
    text-align: center;
}

#emoji {
    text-align: center;
    font-size: 100pt;
}


#livingPlace {
    font-size: 20pt;
}
