body {
    /*TODO: set background color depending on theme from device*/
    background-color: white;
    font-size: 30pt;
}

#randaam {
    text-align: center;
}

#emoji {
    text-align: center;
    font-size: 100pt;
}


